<form action="/login" method="post"  onsubmit="var username = document.getElementById('username').value; sessionStorage.username = username;">
  <h3>Login</h3>
    <div class="form">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="Enter username">
    </div>
    <div class="form">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Enter password">
    </div>
    <div class="form">
      <input type="submit" value="Login">
    </div>
</form>

<p>
  <a href="/signup">New around here? Join us, we have cookies &rarr;</a>
</p>

